.header {
    background-color: #005dd4;
}

.pure-menu,
.pure-menu .pure-menu-horizontal,
.pure-menu-list {
    height: 100%;
    text-align: center;
}

.pure-menu-list {
    width: 100%;
}

.pure-u-1 {}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo .custom-logo {
    width: 100%;
    height: 100%;
    max-width: 208px;
    max-height: 58px;
}

.pure-menu-item {
    position: relative;
    height: 100%;
    width: auto;
}

.pure-menu-link {
    position: relative;
    padding: 0px 14px 0px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    z-index: 1;
}

.pure-menu-item:hover,
.pure-menu-link:hover {
    color: #ffa114;
    background-color: #2e83f1;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.search__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
    padding: 5px 10px 5px 15px;
}

.search__input input {
    display: inline-block;
    width: 100%;
    color: #000;
    font-size: 16px;
    padding: 5px 8px 5px 5px;
    border-radius: 30px;
    outline: none;
}

.search__input input::placeholder {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.search__input img {
    display: inline-block;
    width: 20px;
    height: 20px;
}

/* .pure-menu-link::after {
    position: absolute;
    right: 0px;
    content: "";
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 6px 10.4px 6px;
    border-color: transparent transparent #fff transparent;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
} */

.pure-menu-link:hover::after {
    transform: rotate(180deg);
}


.pure-menu-item:hover .dropdown {
    display: block;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.menu-item img {
    width: 20px;
    width: 15px;
    transform: rotate(0deg);
    transition: all 0.4s ease-in-out;
}

.pure-menu-item:hover .menu-item img {
    transform: rotate(180deg);
}

.dropdown {
    width: 270px;
    min-width: 100%;
    position: absolute;
    margin: 0px 0px 0px 0px;
    top: 100%;
    display: none;
    background-color: #fff;
    border-radius: 8px;
    padding: 0px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.dropdown__body {
    background-color: transparent;
}

.dropdown__items {
    background-color: transparent;
}

.dropdown__item {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(5, 12, 26, .2);
}

.dropdown__item:last-child {
    border-bottom: none;
}

.dropdown__item:hover,
.dropdown__link:hover {
    color: #ffa114;
}

.dropdown__link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: #333;
    padding: 15px 0px;
}

.dropdown__link::after {
    position: absolute;
    right: 0px;
    content: '';
    display: inline-block;
    background-color: transparent;
    background-image: url('../img/api2cart_forward.png');
    background-position: center;
    background-size: cover;
    width: 15px;
    height: 15px;
    transition: all 0.3s ease-in-out;
}

.dropdown__link:hover::after {
    right: -5px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0px;
    width: 100%;
    height: 100%;
}



.button {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.buttons__login,
.buttons__demo {
    padding: 15px 10px;
}


.button__link {
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px 10px 15px;
}

.button__link_orange {
    column-gap: 5px;
    border: 1px solid #ffa115;
    background: #ffa115;
    padding: 10px 20px 10px 15px;
}

.button__link_transparent {
    background: transparent;
    border: 1px solid #fff;
    padding: 12px 15px;
}

.button__link_orange:hover {
    background: #ffb648;
}

.button__link_transparent:hover {
    background: #2e83f1;
}

.buttons__login .button__link_orange::before {
    content: '';
    display: inline-block;
    background-image: url('../img/enter.png');
    background-position: center;
    background-size: cover;
    width: 20px;
    height: 20px;
}