.main {
    width: 100%;
    height: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    row-gap: 50px;
    padding: 50px 0px;
}

.page-content__title {
    color: #003494;
    font-size: 34px;
    font-weight: 600;
}

.page-content__title.page-content__title_size {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    color: #000;
}

.page-content__text {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    max-width: 800px;
}

.page-content__text.page-content__text_size {
    font-size: 24px;
    font-weight: 300;
    color: #000;
    line-height: 1.3;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.page-content__title.page-content__title_size {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.3;
    color: #000;
}

.page-content__btn_grey.button .button__link_transparent {
    padding: 15px 25px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(255, 255, 255);
    outline: 1px solid rgba(0, 0, 0, 0.6);
    color: #fff;
}

.page-content__btn_grey.button .button__link_transparent:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(255, 255, 255);
    outline: 1px solid rgba(0, 0, 0, 0.4);
}

.page-content__row {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
}

.support-ukraine {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    width: 100%;
    height: 100%;
    background: linear-gradient(44deg, #fc0 0, #06c 100%);
    z-index: 9000;
    padding: 24px 0;
}

.support-ukraine__text,
.support-ukraine__btn {
    color: #fff;
    font-weight: 600;
}


.support-ukraine__btn {
    display: inline-block;
    text-transform: capitalize;
    padding: 7px 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: transparent;
}

.scroll-top {
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #5aa1ff;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.scroll-top img {
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
}