.sub-header {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #005dd4;
    overflow: hidden;
}

.wave-container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    background-color: #005dd4;
    overflow: hidden;
}

.wave-container .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150%;
    height: 120px;
    animation: waveAnimation 8s linear infinite;
}

@keyframes waveAnimation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200px);
    }

    /* Двигаем волны влево */
}

.sub-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    color: #fff;
    padding: 30px 0px;
    width: 100%;
    max-width: 650px;
    row-gap: 10px;
}

.sub-info__title {
    font-weight: 400;
    color: #fff;
    font-size: 40px;
    line-height: 1.3;
}

.sub-info__text {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.sub-info__button.button .button__link_orange {
    padding: 14px 22px;
    font-weight: 700;
    font-size: 18px;
}

.schema {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    column-gap: 5px;
    justify-content: flex-end;
    padding: 30px 0px;
}


.schema__image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.schema__image img {
    width: 187px;
    height: 156px;
}

.schema__image .schema__img img {
    width: 100px;
    height: 123px;
}

.arrows {
    display: flex;
    align-items: center;
    gap: 14px;
}

.arrow {
    width: 10px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    position: relative;
}

.left {
    transform: rotate(35deg);
    animation: moveArrowLeft 2s infinite alternate ease-in-out;
}

.right {
    transform: rotate(-12deg);
    animation: moveArrowRight 2s infinite alternate ease-in-out;
}

.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    position: relative;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.dot:nth-child(1) {
    left: 0;
    animation: moveDotLeft 2s infinite alternate ease-in-out;
}

.dot:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
    animation: scaleDot 2s infinite alternate ease-in-out;
}

.dot:nth-child(3) {
    right: 0;
    animation: moveDotRight 2s infinite alternate ease-in-out;
}

/* Двигаем точки к центру и обратно */
@keyframes moveDotLeft {
    0% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(36px);
    }

    100% {
        transform: translateX(10px);
    }
}

@keyframes moveDotRight {
    0% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(-36px);
    }

    100% {
        transform: translateX(-10px);
    }
}

/* Увеличение центральной точки */
@keyframes scaleDot {

    0%,
    100% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.5);
    }
}

/* Исправленный код: стрелки двигаются строго по горизонтали */
@keyframes moveArrowLeft {
    0% {
        transform: translateX(20px) rotate(135deg);
    }

    50% {
        transform: translateX(40px) rotate(135deg);
    }

    100% {
        transform: translateX(25px)rotate(135deg);
    }
}

@keyframes moveArrowRight {
    0% {
        transform: translateX(-20px) rotate(-45deg);
    }

    50% {
        transform: translateX(-40px) rotate(-45deg);
    }

    100% {
        transform: translateX(-25px) rotate(-45deg);
    }
}

.words {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 50px;
    min-width: 50px;
}

.word {
    color: #fff;
    font-size: 16px;
    position: absolute;
    opacity: 0;
    animation: changeWord 6s infinite;
}

.word:nth-child(1) {
    animation-delay: 0s;
}

.word:nth-child(2) {
    animation-delay: 2s;
}

.word:nth-child(3) {
    animation-delay: 4s;
}

@keyframes changeWord {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    10% {
        opacity: 1;
        transform: translateX(0);
    }

    30% {
        opacity: 1;
        transform: translateX(0);
    }

    40% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 0;
    }
}